<section class="about-section" id="About">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <img src="assets/images/about/mohamed.JPG" alt="About" class="about-image" />
        </div>
        <div class="col-lg-6 col-md-12">
          <h2>About Me</h2>
          <p class="about-text">
            I am a proactive Junior Project Manager with a strong focus on driving project success through effective planning
            and execution. With hands-on experience in project management methodologies like Waterfall, Agile, and Lean-six
            Sigma, I am skilled in coordinating teams, managing resources, and ensuring that projects are delivered on time
            and within budget.
          </p>
          <p class="about-text">
            My background combines technical knowledge with practical project management skills, allowing me to tackle challenges
            with a solutions-oriented approach. Passionate about optimizing processes and enhancing organizational efficiency, I
            leverage innovative problem-solving in collaboration with teams.
          </p>
          <p class="about-text">
            As the Founder and CEO of SPIN TECH, I am committed to creating educational platforms that empower individuals and
            organizations. I thrive in dynamic environments, using interpersonal skills to foster teamwork and motivate teams
            towards achieving shared objectives.
          </p>
          <p class="about-text">
            Dedicated to continuous development, I seek opportunities to expand my skill set and contribute to impactful projects.
          </p>
        </div>
      </div>
    </div>
  </section>
  