/* Hero Section Styles */
#hero {
  position: relative;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow for video */
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1; /* Place video behind text */
  transform: translate(-50%, -50%); /* Center the video */
}

.row {
  margin-top: 15rem;
  padding-top: 15rem;
  position: relative;
  z-index: 2; /* Place text above video */
  color: white; /* Text color */
  padding: 20px; /* Padding for content */
}

h1 {
  font-size: 3.3rem; /* Font size for the title */
  margin-bottom: 1rem; /* Space below title */
  font-weight: bold;
}

.lead {
  font-size: 2rem; /* Font size for subtitle */
  margin-bottom: 2rem; /* Space below subtitle */
}

.btn {
  margin: 30px;
  font-size: 1rem; /* Button font size */
  border-radius: 25px; /* Rounded buttons */
}

.btn-primary {
  background-color: var(--main-color); /* Primary button color */
  color: #eee;
  border: none; /* No border */
}

.btn-outline-primary {
  color: white; /* Outline button color */
  border: 2.5px solid var(--main-color); /* Border color */
}
.btn-outline-primary:hover {
  background-color: rgba(105, 64, 204, 0.6);
  color: white; /* Outline button color */
  border: 2.5px solid var(--main-color); /* Border color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem; /* Smaller font size for mobile */
  }

  .lead {
    font-size: 1rem; /* Smaller subtitle for mobile */
  }
}
