<footer class="pt-5 pb-2">
    <div class="container">
      <div class="row">
        <!-- Logo and Contact Info -->
        <div class="col-sm-4 col-md-6 col-lg-3 mb-4">
          <a
            routerLink="/"
            class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
          >
          <img
          src="assets/images/My_logo original[1].png"
          alt="logo"
          width="120"
          height="120"
        />          </a>
          
          <ul class="contact-info d-flex flex-column gap-3 mt-4">
            <li class="d-flex align-items-center">
              <span class="icon me-2">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <span>info&#64;mohamed-ezzelrgal.site</span>
            </li>
            <li class="d-flex align-items-center">
              <span class="icon me-2">
                <i class="fa-solid fa-phone"></i>
              </span>
              <span>+20 100 159 5534            </span>
            </li>
          </ul>
        </div>
  
       
  
        <!-- Subscribe to Newsletter -->
        
      </div>
  
      <!-- Footer Bottom: Rights and Social Media -->
      <div
        class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top rights"
      >
        <p>© 2024 mohamed-ezzelrgal, All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="me-3">
            <a
              class="link-body-emphasis"
              href="https://www.linkedin.com/in/mohammed-ezzelrgal/"
              target="_blank" 
              rel="noopener noreferrer"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li class="me-3">
            <a
              class="link-body-emphasis"
              href="https://www.instagram.com/Mohamed_Ezzelragel_/profilecard/?igsh=dmd1YTZsdzVtOTVo"
              target="_blank" 
              rel="noopener noreferrer"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li class="me-3">
            <a
              class="link-body-emphasis"
              href="https://www.facebook.com/mohamedezzelragel"
              target="_blank" 
              rel="noopener noreferrer"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  